/* body */
body {
	/* margin: 5% 5% 5% 5%; */
    font-family: "Inconsolata";
    margin: 5% 5%;
    background-color: #0f0f0f;
    color: #dcdcdc;
    font-size: 100%;
    width: 80%;
    height: 80%;
}

code {
    font-family: "Courier New", Courier, monospace;
}


/* headers */
h1 {
    font-family: "Impact";
    color: #f0dfaf;
    font-size: 250%;
    font-style: bold;
}


h2 {
    font-family: "Impact";
    color: #f0dfaf;
    font-size:150%;
    font-style: bold;
}

h3 {
    font-family: "Impact";
    color: #f0dfaf;
    font-size:100%;
    font-style: bold;
}

/* placement of columns */
#content {
    width: 80%;
    heigth: 100%;
}


#sidepanel {
    float: right;
    width: 20%;
    height: 100%;
    background-color: #1a1a1a;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
}



a:link {
    color: #f0dfaf;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: #f0dfaf;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: #f0dfaf;
    text-decoration: underline;
    font-style: italic;
}

/* a:active { */
/*     color: #f0dfaf; */
/*     text-decoration: none; */
/* } */

a.menu_item:link {
    font-family: "Impact";
    font-size: 120%;
    color: #f0dfaf;
    text-decoration: none;
    font-style: normal;
}

a.menu_item:visited {
    font-size: 120%;
    color: #f0dfaf;
    text-decoration: none;
    font-style: normal;
}

a.menu_item:hover {
    font-size: 120%;
    color: #f0dfaf;
    text-decoration: underline;
    font-style: normal;
}

/* a.menu_item:active.menu_item { */
/*     font-size: 120%; */
/*     color: #f0dfaf; */
/*     text-decoration: none; */
/* } */